body {
    background-color: #563A66;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 200;
    padding: 2em;
}

h1 {
    font-family: "Walter Turncoat", serif;
    display: inline-block;
    font-size: 50;
}

button {
    background-color: #A076B7;
    color: white;
    border-radius: 10px;
    border: solid 1px #333333;
    margin-left: 10px;
    position: relative;
    font-size: 16;
    padding: 3px;
}

#update-button {
    font-size: 12;
}

.nav {
    width: 110px;
    margin-bottom: 20px;
}

button:hover {  
    cursor: pointer;
    background-color: #FAA209;
    color: black;
}

.title {
    text-align: left;
}

.title:hover {
    cursor: pointer;
    color: #FAA209;
}


td {
    min-width: 50px;
    max-width: 300px;
    height: 40px;
    text-align: center;
}

.header {
    text-align: center;
}

.result {
    text-align: center;
}

table {
    margin: 0 auto;
}

.update-box {
    text-align: center;
}

img {
    height: 70px;
    top: 15px;
    left: 10px;
    position: relative;
}

#logo {
    margin-top: -40px;
    margin-bottom: -20px;
}

.beratement {
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    width: 300px;
    border: solid 3px white;
    border-radius: 10px;
    background-color: #A076B7;
}

#the-eye-says {
    font-style: italic;
}

#users {
    width: 490px;
    margin: 0 auto;
}

.user-button {
    width: 35px;
    display: inline-block;
    margin: 5px;
}
.movie {
    width: 1000px;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    margin: 15px;
    text-align: justify;
    font-size: 200%;
    font-style: oblique;
    margin-left: 600px;
}
.movie_list {
    width: 1000px;
    display: block;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    margin: 15px;
    text-align: left;
    font-size: 200%;
    font-style: oblique;
    margin-left: 600px;

}
.predict {
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 75px;
    display: inline-block;
    margin: 5px;