<html>
<head>
    <title>Ratings App</title>
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/index.css"></link>
</head>
<body>

    <div class="header">

        <!-- <div id="logo">
            <h1>Judgemental<img src="../static/eye.png">&nbsp;Eye</h1>
        </div> -->

        <button class="nav" id="get-dashboard">Dashboard!</button>
        <button class="nav" id="get-users">Other users!</button>
        <button class="nav" id="get-prediction">Single User Predict!</button>
        <a class="nav" href="{{url_for('multiuser')}}" id="get-multi-prediction">Multi User Predict!</a>
        <button class="nav" id="log-out">Log out!</button>

    </div>

    <div class="result">
        <h3 id="list-heading"></h3>
        <div class="result-list">

            <!-- <div id ="userid">
                <p id =" " > </p>
            </div> -->
        </div>

    </div>
    <div class = "submit"></div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/index.js"></script>

</body>
</html>