<html>
<head>
    <title>Ratings App</title>
    <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/index.css"></link>
</head>
<body>

    <div class="header">

        <!-- <div id="logo">
            <h1>Judgemental<img src="../static/eye.png">&nbsp;Eye</h1>
        </div> -->

        <!-- <button class="nav" id="get-dashboard">Dashboard!</button>
        <button class="nav" id="get-users">Other users!</button>
        <button class="nav" id="get-prediction">Single User Predict!</button> -->
        <a class="nav" href="{{url_for('multiuser')}}" id="get-multi-prediction">Multi User Predict!</a>
            <!-- <button class="nav" id="log-out">Log out!</button> -->

    </div>

    <div class="result">
        <h3 id="list-heading"></h3>
        <div class="result-list">
            {% for user_id in data %}
                <button class='user-button' value="{{ user_id }}">{{ user_id }}</button>
            {% endfor %}

        </div>

    </div>
    <button id="sendId" class='predict'>Predict</button>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript">
    // This list holds all the user id to be sent back to get recommendations
    window.user_lst = [];

    // Pushing the IDs into a global list when clicked and make the button go orange
    $('.user-button').click(function() { 
        $(this).css('background-color', 'orange');
        var userId = $(this).attr('value');
        user_lst.push(userId);

        $.ajax({
            'url': '/user_movie',
            'data': JSON.stringify(user_lst[user_lst.length-1]),
            'type': 'POST',
            'contentType': 'application/json',
            'success': function (data) {
                window.movie_rated = JSON.parse(data)
                $('.resultMovie').html( "<p class= 'movie' id='del' text-align: center > Movie rated by selected user "+user_lst[user_lst.length-1]+ " is as follows</p>" );
                for ( key in movie_rated) { 
                        $('.resultMovie').
                        append( "<p class= 'movie_list' id='del' text-align: center> Movie is "+key+ ". Uer rated this movie as "+movie_rated[key]+" star</p>" );

                }
            },
        'error': function (request, status, error) {
                console.log('Oh no!! Something went wrong.');
            }
        });        
    });

    // When click "Predict" button send an ajax call back with the clicked userID
    $('#sendId').click(function() {
        var IdtoSendBack = user_lst;
        
                
        $('.user-button').css('background-color', '#A076B7');
        $.ajax({
            'url': '/multi-prediction',
            'data': JSON.stringify(IdtoSendBack),
            'type': 'POST',
            'contentType': 'application/json',
            'success': function (data) {
                window.prediction = JSON.parse(data);
                // console.log(prediction)
                $('.resultMovie').html( "<p class= 'movie' id='del' text-align: center > Movie prediction  for selected users is as follows </p>" );
                $('.resultMovie').
                        append( "<p class= 'movie_list' id='del' text-align: center> Users who are participating are " +user_lst.toString()+"</p>" );
                window.user_lst = [];
                for ( key in prediction) { 
                        $('.resultMovie').
                        append( "<p class= 'movie_list' id='del' text-align: center> Movie is "+key+ ". Its rating is "+prediction[key]+"</p>" );

                }
                
            },
            'error': function (request, status, error) {
                console.log('Oh no!! Something went wrong.');
            }

        });
        // 

    });

    </script>
    <div class = "resultMovie">
        
    </div>

    
 <!--    <script src="../static/index.js"></script>
 -->
</body>
</html> 